.heroes {
    padding:20px;
    border-color: #808080;
    border-style: solid;
    border-width: 1px;
}
.name{
    font-size: 1.5rem;
     color: black
}
.quote{
    font-size: 1.2rem;
    color: #404040
}


/* 
//name font - 1.5rem
color black
quote -1.2 rem
color #404040
*/

